---
# handlers file for setup-apache 
- name: start apache
  service:
    name: httpd
    state: started
  when: ansible_os_family == "RedHat"

- name: start apache2
  service:
    name: apache2
    state: started
  when: ansible_os_family == "Debian"

- name: restart apache
  service:
    name: httpd
    state: restarted

- name: restart apache2
  service:
    name: apache2
    state: restarted
        
